@media screen and (min-width: 720px) {
  .header {
    display: block;
    text-align: center;
  }

  .logo {
    width: 400px;
    height: auto;
  }

  .nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  .hamburger-menu {
    display: none;
  }
}
