@charset "utf-8";

/* |-| CSS VARIABLES */
:root {
  /* Fonts */
  --heading-font: Oswald, sans-serif;
  --para-font: Asap, sans-serif;

  /* Colors */
  --cerulean: #086788;
  --blue-green: #07a0c3;
  --jonquil: #f0c808;
  --papaya-whip: #fff1d0;
  --rojo: #dd1c1a;
  --white: #fff;
  --midnight-green: #093e4a;
}

/* ----------------------------------------------- */

/* |-| GENERIC STYLES */
* {
  box-sizing: border-box;
  font-family: var(--para-font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
}

.optional {
  color: #0000ff;
  font-style: italic;
  font-size: 0.8rem;
}

.red {
  color: #ff0000;
}

/* ----------------------------------------------- */

/* |-| HEADER */
header {
  background-color: var(--cerulean);
}

h1 {
  text-align: center;
  color: var(--papaya-whip);
  margin: 0;
  padding: 2rem 0;
}

/* ----------------------------------------------- */

/* |-| FORM */
form {
  background-color: var(--papaya-whip);
  padding: 1rem 2rem;
}

form h2 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.rating-btns {
  width: 15%;
  display: inline-block;
  text-align: center;
  font-size: 1.1rem;
}

.feature-checkboxes {
  font-size: 1.1rem;
  line-height: 2;
}

label[for*="star"] {
  display: block;
}

select,
textarea,
.submit-btn,
input[type="date"],
input[type="text"] {
  width: 100%;
  min-height: 44px;
}

.submit-btn {
  margin: 2rem 0;
}

/* ----------------------------------------------- */

/* |-| FOOTER */
footer {
  background-color: var(--cerulean);
  text-align: center;
  padding: 0.5rem 0;
}

footer p {
  color: var(--papaya-whip);
  margin: 0;
  line-height: 1.5;
}

.last-modified::before {
  content: "Modification: ";
}
